/* .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  } */


  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right
  {
    background-image: none;
  }


element.style {
    transition-duration: 0ms;
    transform: none ;
    z-index: -1;
}

:root {
    --swiper-theme-color: none;
}

.swiper-slide {
    background-position: center;
    background-size: auto;
    width: auto;
    height: auto;
    filter: blur(4px);
}

.swiper-slide-active{
  filter: blur(0px);
  animation: both 0.5s 1 up;
}

@keyframes up{
  0%{bottom: 0;}
  100%{bottom: 57px;}
}